body {
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #9c453b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #bc847f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}